# Immich image version
IMMICH_VERSION=

# Host paths
UPLOAD_LOCATION=
DB_DATA_LOCATION=

# Database
DB_PASSWORD=
DB_USERNAME=
DB_DATABASE_NAME=

# Timezone
TZ=

# Optional config file path inside container
IMMICH_CONFIG_FILE=

# Logging
IMMICH_LOG_LEVEL=
IMMICH_LOG_FORMAT=
