{
	email iehianhicks@proton.me
}

jellyfin.kai.coach {
	encode zstd gzip
	reverse_proxy host.docker.internal:8096
}

seerr.kai.coach {
	encode zstd gzip
	reverse_proxy host.docker.internal:5055
}

vault.kai.coach {
        tls internal
	reverse_proxy vaultwarden:80
}

immich.kai.coach {
        encode zstd gzip
        reverse_proxy host.docker.internal:2283
}

home.kai.coach {
        tls internal
        reverse_proxy homepage:3000
}

status.kai.coach {
        tls internal
        reverse_proxy uptime-kuma:3001
}

grafana.kai.coach {
        tls internal
        reverse_proxy grafana:3000
}

n8n.kai.coach {
    reverse_proxy host.docker.internal:5678
}

address.kai.coach {
    encode zstd gzip
    reverse_proxy host.docker.internal:8090
}
