HOMEPAGE_VAR_JELLYFIN_API_KEY=
HOMEPAGE_VAR_IMMICH_API_KEY=
HOMEPAGE_VAR_SONARR_API_KEY=
HOMEPAGE_VAR_RADARR_API_KEY=
HOMEPAGE_VAR_QBITTORRENT_USERNAME=
HOMEPAGE_VAR_QBITTORRENT_PASSWORD=
HOMEPAGE_VAR_SEERR_API_KEY=
HOMEPAGE_VAR_PIHOLE_API_KEY=
HOMEPAGE_VAR_SPEEDTEST_API_KEY=
